<div class="report-container">
    <div class="header-section">
        <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
        <h2 class="subject-title">
            <i class="pi pi-check-square"></i> 2nd Period - MS - Mathematics
        </h2>
        <button pButton label="New Session" icon="pi pi-plus" class="new-session-button"
            style="margin: 10px 0;"></button>
    </div>

    <p-table [value]="students" class="report-table" [responsiveLayout]="'scroll'">
        <ng-template pTemplate="header">
            <tr>
                <th>Student Email</th>
                <th *ngFor="let session of sessions">{{ session.title }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-student>
            <tr>
                <td>{{ student.email }}</td>
                <td *ngFor="let session of sessions">
                    <span *ngIf="student[session.title] !== 'Absent'">
                        <button pButton type="button" label="{{ student[session.title] }}"
                            (click)="openDialogByEmail(session, student.email)" icon="pi pi-info-circle"
                            class="p-button-text">
                        </button>
                    </span>
                    <span *ngIf="student[session.title] === 'Absent'">Absent</span>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="displayDialog" header="Result Details" [modal]="true" [closable]="true" width="300">
        <div *ngIf="selectedResult">
            <p><strong>ID:</strong> {{ selectedResult.id }}</p>
            <p><strong>Email:</strong> {{ selectedResult.email }}</p>
        </div>
    </p-dialog>
</div>