.report-container {
    margin: 20px;
    background-color: #f4f5f7;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}

.header-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.new-session-button {
    background-color: #007ad9;
    color: white;
}

.report-table .p-datatable-thead>tr>th {
    background-color: #f4f5f7;
    color: black;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #007ad9;
}

.report-table .p-datatable-tbody>tr>td {
    text-align: center;
    padding: 8px;
}

.report-table td {
    background-color: #ffffff;
}

.report-table td:nth-child(odd) {
    background-color: #f8f9fa;
}

p-breadcrumb {
    background-color: #2b2b2b;
    border-radius: 5px;
}

p-breadcrumb .p-breadcrumb-item a {
    color: #007ad9;
}