<div class="general">
    <p-splitter 
    [panelSizes]="[25, 55 ,20]" 
    styleClass="mb-5">
    <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center container-split">
            <h1>Questions</h1>
            <p-toolbar class="toolbar">
                
                <p-dropdown  class="p-toolbar-group-center dropdown-types"
                    [options]="types" 
                    [(ngModel)]="selectedType" 
                    optionLabel="label" 
                    [showClear]="true" 
                    placeholder="Select a Type" />
            </p-toolbar>
            <ul class="question-container">
                <app-quiz1 class="question-template" [mode]="'view'" pDraggable
                     (onDragStart)="dragStart('Quiz')" (onDragEnd)="dragEnd()"></app-quiz1>

          <app-qr-question class="question-template" [mode]="'view'" pDraggable
                     (onDragStart)="dragStart('Q/A')" (onDragEnd)="dragEnd()"></app-qr-question>

          
            </ul>
        </div>
    </ng-template>
    <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center container-split">
            <div class="button-container">
                <p-button 
                    label="Save" 
                    icon="pi pi-check" 
                    (onClick)="Save()" />
                <p-button 
                    label="Publish" 
                    severity="danger"
                    icon="pi pi-upload" 
                    (onClick)="Publish()" />
            </div>
            <div class="card">
                
                  <div class="stepper-container">
                    <div *ngFor="let step of steps; let i = index" class="step" 
                    [ngClass]="{ active: currentStep === i, completed: currentStep > i }">
                      <!-- Step Circle and Title -->
                      <div class="step-item">
                        <div class="circle" (click)="setStep(i)">
                          <span>{{ i + 1 }}</span>
                        </div>
                        <div class="content-container">
                            <div class="step-content" [ngClass]="{ 'active-content': currentStep === i }">
                                <h3 class="'title" (click)="setStep(i)">{{ step.title }} 
                                    <!-- Display a yellow span if the question has empty options -->
                                    <span *ngIf="getInvalidQuestion(step)" style="color: #FF8C00;font-size: 16px;font-weight: 300; margin-left: 10px;">
                                        {{ getInvalidQuestion(step) }}
                                      </span>
                                </h3>
                                
                                <!-- Step Content with defined width and height -->
                                <div class="p-2 border-1 surface-border border-round w-15rem dropZone" 
                                    pDroppable (onDrop)="drop(i)">
                                    <div class="header-comment">
                                        <div class="comment surface-border border-bottom-1">Drop A Question Here</div>
                                    </div>

                                    <div *ngIf="step.question" [ngSwitch]="step.question.type">
                                      <!-- Creation Mode -->
                                      <ng-container *ngSwitchCase="'Quiz'">
                                          <app-quiz1 
                                              class="question-template" 
                                              [number]="i" 
                                              [mode]="'creation'" 
                                              (questionChange)="onQuestionChange($event, i)">
                                          </app-quiz1>
                                      </ng-container>
                                  
                                      <ng-container *ngSwitchCase="'Q/A'">
                                          <app-qr-question 
                                              class="question-template" 
                                              [number]="i" 
                                              [mode]="'creation'" 
                                              (questionChange)="onQuestionChange($event, i)">>
                                          </app-qr-question>
                                      </ng-container>
                                  
                                      <!-- Add more question types as needed -->
                                  </div>
                                  
                                  <div class="preview-container" *ngIf="step.question">
                                      <hr style="margin-bottom: -1px;">
                                      <div class="header-comment">
                                          <div class="comment surface-border border-bottom-1">Preview the Display</div>
                                      </div>
                                  
                                      <div [ngSwitch]="step.question.type" class="prev-container">
                                          <!-- Ask Mode for Quiz -->
                                          <ng-container *ngSwitchCase="'Quiz'">
                                              <app-quiz1 
                                                  [number]="i" 
                                                  [mode]="'ask'" 
                                                  [template]="selectedTemplate"
                                                  [questionData]="step.question">
                                              </app-quiz1>
                                          </ng-container>
                                  
                                          <!-- Ask Mode for Q/A -->
                                          <ng-container *ngSwitchCase="'Q/A'">
                                              <app-qr-question 
                                                  [mode]="'ask'" 
                                                  [questionData]="step.question">
                                              </app-qr-question>
                                          </ng-container>
                                  
                                          <!-- Add more question types as needed -->
                                      </div>
                                  </div>
                                  
                                    
                                    <!--
                                    <app-quiz1 *ngIf="step.question" class="question-template" 
                                               [number]="i" 
                                               [mode]="'creation'" 
                                               [type]="step.question.type" 
                                               (questionChange)="onQuestionChange($event,i)">
                                    </app-quiz1>
                                    
                                    <div class="preview-container">
                                        <hr *ngIf="step.question"style="margin-bottom: -1px;">
                                        <div *ngIf="step.question" class="header-comment">
                                            <div class="comment surface-border border-bottom-1">Preview the Display</div>
                                        </div>
                                        <app-quiz1 *ngIf="step.question"
                                                [number]="i" 
                                                [mode]="'ask'" 
                                                [type]="step.question.type" 
                                                [questionData]="step.question">
                                        </app-quiz1>
                                    </div>-->
                                    </div>
                                    
                                    
                              </div>
                              <!-- Navigation Buttons below the content -->
                              <div *ngIf="currentStep === i" class="step-buttons">
                                  <p-button *ngIf="i > 0" (click)="prevStep()">Previous</p-button>
                                  <p-button *ngIf="i < steps.length - 1" (click)="nextStep()">Next</p-button>
                                  <p-button (click)="addStep(i)">Add Step</p-button>
                              </div>
                        </div>
                        
                        </div>
                  
                      
                    </div>
                  </div>
                  
                  
                  
                  
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center container-split">
            <h1>Templates</h1>
             <!-- Default Template Box -->
                <div 
                class="template-box default-template" 
                [ngClass]="{'active': selectedTemplate === 'default-template'}" 
                (click)="selectTemplate('default-template')">
                <span class="template-name">Default Template</span>
            </div>
            
            <!-- Sleek Dark Template Box -->
            <div 
                class="template-box sleek-dark-template" 
                [ngClass]="{'active': selectedTemplate === 'sleek-dark-template'}" 
                (click)="selectTemplate('sleek-dark-template')">
                <span class="template-name">Sleek Dark Template</span>
            </div>
        </div>
    </ng-template>
</p-splitter>
</div>
