<div class="general">
    <p-splitter 
    [panelSizes]="[25, 55 ,20]" 
    styleClass="mb-5">
    <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center container-split">
            <h1>Questions</h1>
            <p-toolbar class="toolbar">
                
                <p-dropdown  class="p-toolbar-group-center dropdown-types"
                    [options]="types" 
                    [(ngModel)]="selectedType" 
                    optionLabel="label" 
                    [showClear]="true" 
                    placeholder="Select a Type" />
            </p-toolbar>
            <ul class="question-container">
                <app-quiz1 class="question-template" [mode]="'view'" [type]="'Quiz'" pDraggable
                     (onDragStart)="dragStart('Quiz')" (onDragEnd)="dragEnd()"></app-quiz1>

          <app-quiz1 class="question-template" [mode]="'view'" [type]="'Q/A'" pDraggable
                     (onDragStart)="dragStart('Q/A')" (onDragEnd)="dragEnd()"></app-quiz1>

          <app-quiz1 class="question-template" [mode]="'view'" [type]="'Survey'" pDraggable
                     (onDragStart)="dragStart('survey')" (onDragEnd)="dragEnd()"></app-quiz1>
            </ul>
        </div>
    </ng-template>
    <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center container-split">
            <div class="card">
                <!--<p-stepper orientation="vertical">
                    <p-stepperPanel
                      *ngFor="let step of steppers; let i = index"
                      [header]="step.header"
                      [ngClass]="'stepper-' + i"
                    >
                      <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">
                        <div class="stepper-content">
                          <div class="p-2 border-1 surface-border border-round w-15rem dropZone" pDroppable (onDrop)="drop(i)">
                            <p class="text-center surface-border border-bottom-1">Drop A Question Here</p>
                            
                            <app-quiz1 *ngIf="step.question" class="question-template" 
                                       [number]="i" 
                                       [mode]="'creation'" 
                                       [type]="step.question.type" 
                                       (questionChange)="onQuestionChange($event)">
                            </app-quiz1>
                            
                            <p-divider></p-divider>
                            
                            <p class="text-center surface-border border-bottom-1">Preview the Display</p>
                            <app-quiz1 *ngIf="step.question"
                                       [number]="i" 
                                       [mode]="'ask'" 
                                       [type]="step.question.type" 
                                       [questionData]="step.question">
                            </app-quiz1>
                          </div>
                  
                          <div class="button-group">
                            <p-button *ngIf="i > 0" label="Back" (onClick)="prevCallback.emit()"></p-button>
                            <p-button *ngIf="i < steppers.length - 1" label="Next" (onClick)="nextCallback.emit()"></p-button>
                            <p-button label="Add Step" (onClick)="addStep(i)"></p-button>
                          </div>
                        </div>
                      </ng-template>
                    </p-stepperPanel>
                  </p-stepper>-->

                  <div class="stepper-container">
                    <div *ngFor="let step of steps; let i = index" class="step" 
                    [ngClass]="{ active: currentStep === i, completed: currentStep > i }">
                      <!-- Step Circle and Title -->
                      <div class="step-item">
                        <div class="circle" (click)="setStep(i)">
                          <span>{{ i + 1 }}</span>
                        </div>
                        <div class="content-container">
                            <div class="step-content" [ngClass]="{ 'active-content': currentStep === i }">
                                <h3 class="'title" (click)="setStep(i)">{{ step.title }} 
                                    <!-- Display a yellow span if the question has empty options -->
                                    <span *ngIf="getInvalidQuestion(step)" style="color: #FF8C00;font-size: 16px;font-weight: 300; margin-left: 10px;">
                                        {{ getInvalidQuestion(step) }}
                                      </span>
                                </h3>
                                
                                <!-- Step Content with defined width and height -->
                                <div class="p-2 border-1 surface-border border-round w-15rem dropZone" 
                                    pDroppable (onDrop)="drop(i)">
                                    <div class="header-comment">
                                        <div class="comment surface-border border-bottom-1">Drop A Question Here</div>
                                    </div>
                                    
                                    
                                    <!-- Creation Mode -->
                                    <app-quiz1 *ngIf="step.question" class="question-template" 
                                               [number]="i" 
                                               [mode]="'creation'" 
                                               [type]="step.question.type" 
                                               (questionChange)="onQuestionChange($event,i)">
                                    </app-quiz1>
                                    
                                    
                                    <div class="preview-container">
                                        <hr *ngIf="step.question"style="margin-bottom: -1px;">
                                        <!-- Ask Mode -->
                                        <div *ngIf="step.question" class="header-comment">
                                            <div class="comment surface-border border-bottom-1">Preview the Display</div>
                                        </div>
                                        <app-quiz1 *ngIf="step.question"
                                                [number]="i" 
                                                [mode]="'ask'" 
                                                [type]="step.question.type" 
                                                [questionData]="step.question">
                                        </app-quiz1>
                                    </div>
                                    </div>
                                    
                                    
                              </div>
                              <!-- Navigation Buttons below the content -->
                              <div *ngIf="currentStep === i" class="step-buttons">
                                  <p-button *ngIf="i > 0" (click)="prevStep()">Previous</p-button>
                                  <p-button *ngIf="i < steps.length - 1" (click)="nextStep()">Next</p-button>
                                  <p-button (click)="addStep(i)">Add Step</p-button>
                              </div>
                        </div>
                        
                        </div>
                  
                      
                    </div>
                  </div>
                  
                  
                  
                  
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center container-split">
            <h1>Templates</h1>
        </div>
    </ng-template>
</p-splitter>
</div>
